.editCoche {
  padding: 2rem;
}

.editCoche__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.editCoche__title {
  font-size: 2rem;
  margin: auto;
  padding-bottom: 2rem;
}

.editCoche__back{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.editCoche__back:hover > .back__icon{
  left: -10%;
}

.back__icon{
  height: 2rem;
  position: relative;
  left: 0;
  transition: 0.3s;
}

.back__text{
  padding-left: 1rem;
  font-size: 1.5rem;

}

form {
  width: 25%;
  margin: auto;
}

.formItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 2rem;
  padding-bottom: 0.3rem;
}

.formItem label {
  padding-bottom: 0.2rem;
  text-align: start;
  margin: 0;
  padding: 0;
}

.formItem input {
  text-align: start;
  height: 1.5rem;
}

.formItem select {
  text-align: start;
  height: 1.75rem;
}

.formCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 1rem;
  align-items: center;
  padding-bottom: 0;
}

.formCheckbox label {
  padding-bottom: 0.4;
}
