.editCoche {
  padding: 2rem;
}

.editCoche__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
  height: 3rem;
}

.editCoche__title {
  font-size: 2rem;
  margin: auto;
  padding-bottom: 2rem;
  width: 60%;
}

.editCoche__back,
.delete__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.editCoche__back:hover > .back__icon {
  left: -10%;
}

.delete__button:hover > .delete__icon {
  position: relative;
  height: 2.5rem;
}

.back__icon,
.delete__icon {
  height: 2rem;
  position: relative;
  left: 0;
  transition: 0.3s;
}

.back__text,
.delete__text {
  padding-left: 1rem;
  font-size: 1.5rem;
}

.delete__popup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.disableBackground {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__content {
  padding: 1rem 2rem;
  border-radius: 1rem;
  z-index: 100;
  background-color: white;
  width: 40%;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.popup__header {
  position: absolute;
  right: 0;
  padding-right: 1rem;
}

.popup__header img {
  cursor: pointer;
}

.popup__text {
  max-width: 80%;
  padding-block: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: start;
}

.popup__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: none;
  outline: none;
}

.popup__buttons > button {
  height: 2rem;
  width: 6rem;
  cursor: pointer;
}

.popup__buttons > .cancelar {
  background-color: transparent;
  border: none;
}

.popup__buttons > .confirmar {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0.3rem;
}

form > div {
  width: 25%;
  margin: auto;
}

.formItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 2rem;
  padding-bottom: 0.3rem;
}

.formItem label {
  padding-bottom: 0.2rem;
  text-align: start;
  margin: 0;
  padding: 0;
}

.formItem input {
  text-align: start;
  height: 1.5rem;
}

.formItem select {
  text-align: start;
  height: 1.75rem;
}

.formCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 1rem;
  align-items: center;
  padding-bottom: 0;
}

.formCheckbox label {
  padding-bottom: 0.4;
}

@media (max-width: 750px) {
  form > div {
    width: 100%;
    font-size: 1.3rem;
  }
  .formItem label {
    padding-bottom: 0.5rem;
  }
  .formItem input {
    font-size: 1.3rem;
    height: 2rem;
  }
  .formCheckbox {
    height: 2rem;
  }
  th {
    width: 100px;
  }
  .cochesList__list {
    width: 100% !important;
  }
  .popup__content {
    width: 80%;
  }
}
