.messageAlert {
  position: absolute;
  width: 60%;
  bottom: 5%;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.43);
  transition: 0.8s ease;
  background-color: white;
}

.messageAlert--hidden {
  bottom: -20% !important;
}

@media (max-width: 750px) {
  .messageAlert {
    width: 90%;
  }
}
